<div class="container">
  <div class="well well-sm">
    <div class="btn-group">
      <button (click)="deleteCurrentBasket()" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-remove-sign"></span>Delete cart
      </button>
    </div>
    <div class="btn-group pull-right">
      <button (click)="logout()" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span>
      </button>
    </div>
  </div>
  <div class="page-header">
    <h1>Basket</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <table id="simple-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th class="center">Product name</th>
              <th class="center">Unit Price</th>
              <th class="center">Quantity</th>
              <th class="center">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of basket.basketItems">
              <td>{{item.productName}}</td>
              <td>{{item.unitPrice | currency}}</td>
              <td>{{item.units}}</td>
              <td>{{item.unitPrice*item.units | currency}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div>Total:</div>
        <div class="pull-right">{{basket.getTotalPrice()}}</div>
      </div>
    </div>
  </div>
</div>
