<div class='col-md-3'></div>
<div class="col-md-6">
  <div class="login-box well">
    <form [formGroup]="form" novalidate (ngSubmit)="onNgSubmit()">
      <legend>Sign In</legend>
      <div class="form-group">
        <label>User name / Email</label>
        <input type="text" formControlName="username" class="form-control" placeholder="username">
        <span style="color: red" *ngIf="formErrors.username">{{formErrors.username}}</span>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="password">
        <span style="color: red" *ngIf="formErrors.password">{{formErrors.password}}</span>
      </div>
      <div class="form-group">
        <button [disabled]="!form.valid" type="submit">Login</button>
        <span style="color: red" *ngIf="loginError">{{loginError}}</span>
      </div>
    </form>
  </div>
</div>
<div class='col-md-3'></div>
