<div class="container">
  <div class="well well-sm">
    <strong>Display</strong>
    <div class="btn-group">
      <button (click)="viewByList($event)" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list"></span>List
      </button>
      <button (click)="viewByGrid($event)" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid
      </button>
    </div>
    <div class="btn-group pull-right">
      <button (click)="goToBasket()" class="btn btn-default btn-sm">
        <i class="fa fa-shopping-cart" style="font-size: 130%"></i>
        <a *ngIf="" class="icon-shopping-cart">
          <label class="badge" style="background-color: orange">3</label>
        </a>
      </button>
      <button (click)="logout()" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-in"></span>
      </button>
    </div>
  </div>
  <div id="products" class="row list-group">
    <div *ngFor="let product of products"
         [ngClass]="{'list-group-item' : viewType === 'list', 'grid-group-item' : viewType === 'grid'}"
         class="item col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="../../assets/images/shopping.png" alt="demo-product-image" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            {{product.productName}}</h4>
          <span>Available quantity: {{product.assets}}</span>
          <p class="group inner list-group-item-text">
            {{product.package}}</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                ${{product.unitPrice}}</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <button class="btn btn-success" (click)="AddToBasket()">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
