<div class="container">
  <div class="well well-sm">
    <strong>Display</strong>
    <div class="btn-group">
      <button (click)="viewByList($event)" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list"></span>List
      </button>
      <button (click)="viewByGrid($event)" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid
      </button>
    </div>
    <div class="btn-group pull-right">
      <button (click)="goToBasket()" class="btn btn-default btn-sm">
        <i class="fa fa-shopping-cart" style="padding-right: 15px"></i>
        <div *ngIf="basket !== null">
          <a class="icon-shopping-cart">
            <label class="badge" style="font-size: 80%; position: absolute; background-color: orange">
              {{basket.basketItems.length}}
            </label>
          </a>
        </div>
      </button>
      <button (click)="logout()" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span>
      </button>
    </div>
  </div>
  <div id="products" class="row list-group">
    <div *ngFor="let product of products"
         [ngClass]="{'list-group-item' : viewType === 'list', 'grid-group-item' : viewType === 'grid'}"
         class="item col-xs-4 col-lg-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="../../assets/images/shopping.png" alt="demo-product-image" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            {{product.ProductName}}</h4>
          <span>Available quantity: {{product.Assets}}</span>
          <p class="group inner list-group-item-text">
            {{product.Package}}</p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                ${{product.UnitPrice}}</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <button class="btn btn-success" (click)="addToBasket(product)">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
